<section class="new-project" fxLayout fxLayoutAlign="center">
  <mat-card  fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Add problem or project:</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select placeholder="Favorite tags">
          <mat-option value="coding">
            Coding
          </mat-option>
          <mat-option value="gardening">
            Gardening
          </mat-option>
          <mat-option value="cooking">
            Cooking
          </mat-option>
          <mat-option value="upgrade">
            Upgrade
          </mat-option>
          <mat-option value="integration">
            Integration  
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button (click)="onStartTraining()" color="accent">Approve Budget to Start</button>
    </mat-card-actions>
  </mat-card>
</section>
