<section class="new-project" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartProject(f)" #f="ngForm">
    <mat-card  fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Add problem or project:</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
          <mat-select placeholder="Favorite tags" ngModel name="task" required>
            <mat-option *ngFor="let task of tasks | async" [value]="task.name">
              {{ task.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-button color="accent" [disabled]="f.invalid">Approve Budget to Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
