<section class="new-project" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartProject(f)" #f="ngForm">
    <mat-card  fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Add problem or project:</mat-card-title>
      <mat-card-content fxLayoutAlign="center">

        <mat-form-field *ngIf="!isLoading && tasks">
          <mat-select placeholder="Favorite tags" ngModel name="task" required>
            <mat-option *ngFor="let task of tasks" [value]="task.id">
              {{ task.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </mat-card-content>

      <mat-card-actions  *ngIf="!isLoading" fxLayoutAlign="center">
        <button *ngIf="tasks" type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Approve Budget to Start</button>
        <button *ngIf="!tasks" type="button" mat-stroked-button color="accent" (click)="fetchTasks()">Fetch Tags Again</button>
      </mat-card-actions>

    </mat-card>
  </form>
</section>
