<section class="login-form">
  <div class="login">
    <h3>Login to Solve</h3>
      <img src="assets/icons/icon_512.png" alt="Solve World's Problems" height="96" width="96">
    <h3>Your World Problems</h3>
  </div>
    <form 
      fxLayout="column" 
      fxLayoutAlign="center center" 
      fxLayoutGap="10px"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input 
          type="email" 
          matInput 
          placeholder="Your email" 
          formControlName="email">
          <mat-hint>Please enter a valid email.</mat-hint>
          <mat-error>Invalid or missing email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input 
          type="password" 
          matInput 
          placeholder="Your password" 
          formControlName="password">
          <mat-hint>Please enter your password.</mat-hint>
          <mat-error>Missing password.</mat-error>
      </mat-form-field>
      <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
      <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </form>
    <div class="login">
        <h3>Make Money & Friends 24/7</h3>
        <h3>Worldwide</h3>
    </div>
    <div class="login-footer">
      <p>© Ianta Labs / MIT License</p>
    </div>
</section>
