<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">


    <div class="title animate-in1">
        <h1>W3AI - Web's DNA Cortex</h1>
      </div>
      <div class="quote">
        <p><q>We are all now connected by the Internet,<br>like Neurons in a Giant Brain.</q><br><i>Stephen Hawking</i></p>
      </div>
      <div class="content">
        <div class="ai-hub-feature animate-in2" id="mobile-office">
          <p>Use your Web Cortex App 24/7</p>
        </div>
        <!--
        <div class="ai-hub-feature animate-in3" id="offline">
          <p>Get best deals in currency & services!</p>
        </div>
        -->
        <div class="ai-hub-feature animate-in4" id="share">
          <p>For maximum productivity</p>
        </div>
        <div class="ai-hub-feature animate-in5" id="realtime">
          <p>build Algorithmic Innovators' - AI nGenes</p>
        </div>
        <div class="ai-hub-feature animate-in6" id="notifications">
          <p>build Agile Integrators' - AI nProjects</p>
        </div>
        <!--
        <div class="ai-hub-feature animate-in7" id="innovation-browser">
          <p>Browse World's top Innovation Ventures!</p>
        </div>
        -->
        <div class="ai-hub-feature animate-in8" id="innovation-teams">
          <p>build Anonymous Investors' AI nTeams</p>
        </div>
      </div>

      <section class="welcome">
        <h1>CLONE THE DNA ENGINE</h1>
        <h3>and start building</h3>
        <h1>YOUR nGENES TODAY</h1>
      </section>
      <ul>
        <li><a href="https://github.com/W3AI/TeamHub">1. Clone DNA Engine @ GitHub</a></li>
        <li>2. Open a Google Firebase account on GCP</li>
        <li>3. Setup web Cortex on your business name</li>
        <li>4. Load & Share your Projects and Skills </li>
        <li>5. Network with your web business friends</li>
      </ul>

      <div class="welcome">
      <h1>Forms for Sharing Projects & Skills</h1>
      <p>nProject form for your network PMO:</p>
        <div id="PMO" class="forms">
          <a href="https://docs.google.com/spreadsheets/d/1xRD5ZoevGwjbOUs0BVdem3lQUwuysxar5UecQqf3jhw/edit?usp=sharing">
            <img src="assets/img/nProject-Form05.png" 
            title="Download from here or Share from your PMO cloud folder" 
            width="272" height="164">
            </a>
        </div>
      <p>nService form for your network COE:</p>
        <div id="COE" class="forms">
          <a href="https://docs.google.com/spreadsheets/d/1lgs3oSqzTqWlRPIdz7mC73KxDXTOeieFYp3GBG6qrfQ/edit?usp=sharing">
            <img src="assets/img/nGene-Form05.png" 
            title="Download from here or Share from your COE cloud folder" 
            width="272" height="164">
          </a>
        </div>
      <h1>Tips for global nTeams networks</h1>
      <ul>
        <li>Share projects, skills and ideas with nTeams worldwide.</li>
        <li>We are all nGenes Innovators, Integrators and Investors.</li>
        <li>Be considerate for the business ecosystems you'll disrupt.</li>
      </ul>
      
      <h1>nGenes Lifecycle</h1>
        <ol>
          <li>Idea - 10s words - Seconds reading - Generations to build</li>
          <li>Problem - 100s words - Mins reading - Years to build</li>
          <li>Project - 1000s words - Hours reading - Months to build</li>
          <li>Service - 10,000 words - Days reading - Hours to setup</li>
          <li>nGene - 100,000 words - Years reading - Miliseconds runtime</li>
        </ol>
      </div>

      <h1>The DNA Math of Business nGenes</h1>
      <p>Smart Markets & Universal Church-Turing Machines</p>

      <h1>Web, Genetics & Neural Networks</h1>
      <p>Facts and References</p>

      <div class="welcome">
          <h3>Hookup your business<br>to web's DNA Engines</h3>
      </div>

      <ul class="footer">
        <li>Join our W3AI Meetups</li>
        <li>to learn more</li>
        <li>
          <a href="https://www.meetup.com/SocialAI/">Toronto</a> -
          <a href="https://www.meetup.com/Manhattan-AIR/">New York</a> -
          <a href="https://www.meetup.com/HalifaxAIG/">Halifax</a>
        </li>
        <li><a href="https://github.com/W3AI/TeamHub">Clone DNA Engine @ GitHub</a></li>
        <li>Live DNA Engine PoC 0.4</li>
        <li>© Ianta Labs / MIT License</li>
      </ul>
        

</section>
