<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">

  <div class="title">
    <h1>Open Global Operating System</h1>
  </div>
  
<h1>- Decentralized Global OS -</h1>

  <div class="quote">
    <p>Inspired by the Organization System<br>of the<br>37 Trillion Cells in the human body.</p>
    <p class="quote">Powered by the DNA Activation Algorithm</p>
  </div>

  <div class="content">
    <div class="ai-hub-feature" id="mobile-office">
      <p>Post your Services Globally</p>
    </div>
    <div class="ai-hub-feature" id="share">
      <p>For maximum performance</p>
    </div>
    <div class="ai-hub-feature" id="realtime">
      <p>Setup Global Networks</p>
    </div>
    <div class="ai-hub-feature" id="notifications">
      <p>Post Projects Globally</p>
    </div>
    <div class="ai-hub-feature" id="innovation-teams">
      <p>Post Services Globally</p>
    </div>
  </div>

  <section class="welcome">
    <h1>CLONE Global OS</h1>
    <h3>and start setting up</h3>
    <h1>Your Global network</h1>
  </section>

  <ol>
    <li><a href="https://github.com/W3AI/TeamHub">Clone your Global OS @ GitHub.</a></li>
    <li>Open a Google Firebase account on GCP.</li>
    <li>Setup Global OS on your business name.</li>
    <li>Load & Share your Projects and Skills.</li>
    <li>Network with your friends & colleagues.</li>
    <li>Congrats! You run now on a Global OS.</li>
  </ol>

  <div class="welcome">
    <h1>Social Innovation Engines</h1>
    <img src="assets/img/Cycles-of-Social-Innovation.png" title="DNA Engines as Universal Church-Turing Machines" width="448"
      height="270">
  </div>

  <div class="welcome">
    <h1>Forms for Sharing Projects & Skills</h1>
    <p>Global Project Template:</p>
    <div id="PMO" class="forms">
      <a href="https://docs.google.com/spreadsheets/d/1xRD5ZoevGwjbOUs0BVdem3lQUwuysxar5UecQqf3jhw/edit?usp=sharing">
        <img src="assets/img/nProject-Form05.png" title="Download from here or Share from your PMO cloud folder" width="448"
          height="270">
      </a>
    </div>
    <p>Global Service Template:</p>
    <div id="COE" class="forms">
      <a href="https://docs.google.com/spreadsheets/d/1lgs3oSqzTqWlRPIdz7mC73KxDXTOeieFYp3GBG6qrfQ/edit?usp=sharing">
        <img src="assets/img/nGene-Form05.png" title="Download from here or Share from your COE cloud folder" width="448"
          height="270">
      </a>
    </div>
    <h1>Tips for Algorithmic Global Networks</h1>
    <ul>
      <li>Share projects, skills and ideas with Teams worldwide.</li>
      <li>We are all Global Innovators, Integrators and Investors.</li>
      <li>Be considerate for the business ecosystems you'll disrupt.</li>
    </ul>

    <h1>Global Project Lifecycle</h1>
    <ol>
      <li>Idea - 10s words - Seconds reading - Generations to build</li>
      <li>Problem - 100s words - Minutes reading - Years to build</li>
      <li>Project - 1000s words - Hours reading - Months to build</li>
      <li>Service - 10,000 words - Days reading - Hours to setup</li>
      <li>nGene - 100,000 words - Years reading - Seconds runtime</li>
    </ol>
  </div>

  <h1>The Math of Global Operating Systems</h1>
  <p>Smart Markets & Universal Church-Turing Machines</p>
  <ul>
    <li>An Universal Church-Turing Machine selects instructions from a market of operators (service providers).</li>
    <li>Each operation is wrapped by I/O lambda functions.</li>
    <li>The Input lambda function selects from the project context the input arguments for the operation.</li>
    <li>The Output lambda function updates the project context with the results of the operation.</li>
    <li>The service providers are selected automatically based on availability, price and terms.</li>
    <li>If several solutions are found they can be ranked on price, duration, etc before execution.</li>
    <li>The combinatorics of services are thr proof that no better solution is possible at the time.</li>
    <li>A combinatorial market of services is called a <a href="https://en.wikipedia.org/wiki/Smart_market">smart market</a>.</li>
    <li>Market players can chose to invest in the search of new cheaper and faster sequences of services.</li>
    <li>A new, useful and in demand sequence is an innovation that can be exploited for profit in the market.</li>
    <li>All services in the market can be ranked in a PTO directory to provide automatic patenting services.</li>
    <li>The maturity of the market can be a function of the number of types of services available.</li>
    <li>The speed of progress for a smart market is the speed by which new services (innovations) are added.</li>
    <li>Life on Earth is a 3 Billion years old smart market of about 5 million genes.</li>
  </ul>

  <h1>Web, Genetics & Neural Networks</h1>
  <p>Facts and References</p>
  <ul>
    <li>The Human body is a network of 37 trillion cells.</li>
    <li>All cells operate on subsets of 20k human genes.</li>
    <li>All live cells are surrounded by relatives.</li>
    <li>Neurons are the only cells with 1000s connections.</li>
    <li>Neurons run the fastest cell communication network.</li>
    <li>100 Billion neurons coordinate 37 Trillion cells.</li>
    <li>The DNA engine is the same for all live cells on Earth.</li>
  </ul>

  <p class="welcome"><q>Civilization advances by extending the number of important operations which we can perform without thinking of them.</q><br><i>Alfred North Whitehead</i></p>


  <div class="welcome">
    <h3>Add your own important operations<br>for next generations' DNA Engines</h3>
  </div>

  <ul class="footer">
    <li>Join our W3AI Meetups</li>
    <li>to learn more</li>
    <li>
      <a href="https://www.meetup.com/SocialAI/">Toronto</a> -
      <a href="https://www.meetup.com/Manhattan-AIR/">New York</a> -
      <a href="https://www.meetup.com/HalifaxAIG/">Halifax</a>
    </li>
    <li><a href="https://github.com/W3AI/TeamHub">Clone your DNA Engine @ GitHub</a></li>
    <li>Live DNA Engine PoC 0.7</li>
    <li>© Ianta Labs / MIT License</li>
  </ul>

</section>