<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">


    <div class="title animate-in1">
        <h1>nano neural networks</h1>
      </div>
      <div class="quote">
        <p><q>We are all now connected by the Internet, like Neurons in a giant brain.</q><br><i>Stephen Hawking</i></p>
      </div>
      <div class="content">
        <div class="ai-hub-feature animate-in2" id="mobile-office">
          <p>Works on cell & office spreadsheets</p>
        </div>
        <!--
        <div class="ai-hub-feature animate-in3" id="offline">
          <p>Get best deals in currency & services!</p>
        </div>
        -->
        <div class="ai-hub-feature animate-in4" id="share">
          <p>Share your nTeams services cloud wide</p>
        </div>
        <div class="ai-hub-feature animate-in5" id="realtime">
          <p>Realtime Innovation Search Messages...</p>
        </div>
        <div class="ai-hub-feature animate-in6" id="notifications">
          <p>...and Global Innovations Notifications</p>
        </div>
        <!--
        <div class="ai-hub-feature animate-in7" id="innovation-browser">
          <p>Browse World's top Innovation Ventures!</p>
        </div>
        -->
        <div class="ai-hub-feature animate-in8" id="innovation-teams">
          <p>Innovate 24/7 - Set now Your nTeams</p>
        </div>
      </div>

      <div class="welcome">
          <section>
            <h1>Make Money & Friends 24/7</h1>
            <p>in Universal Second Currency & local currency</p>
          </section>
        </div>
          <ul class="footer">
            <li>Join our W3AI Meetups</li>
            <li>to learn nSkills</li> 
            <li>
                <a href="https://www.meetup.com/SocialAI/">Toronto</a> - 
                <a href="https://www.meetup.com/Manhattan-AIR/">New York</a> - 
                <a href="https://www.meetup.com/HalifaxAIG/">Halifax</a>
            </li>
            <li><a href="https://github.com/W3AI/TeamHub">Clone nTeams @ GitHub</a></li>
            <li>Live POC 0.3</li>
            <li>© Ianta Labs / MIT License</li>  
        </ul>
        

</section>
