.welcome {
    text-align: center;
}

.quote {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.forms {
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}

#PMO {
  text-align: center;
}

#COE {
  text-align: center;
}

a {    
    text-decoration: none;
    color: grey;
  }

.footer {
    list-style: none;
    padding: 10px;
    text-align: center;
}

li {
    padding: 5px;
}


  .title {
    width: 100%;
    background-color: #8c828c;
    text-align: center;
    padding: 15px 0;
    margin: 0px;
  }
  
  .title h1 {
    margin: 15px;
    color: white;
    font-size: 1.6em;
  }
  
  .content {
    margin: 0px auto;
    text-align: center;
    width: 80%;
    max-width: 500px;
  }
  
  .ai-hub-feature {
    padding: 2px;
    margin: 0px auto;
  }
  
  #mobile-office {
    background-color: #9ce9ff;
  }
  
  #offline {
    background-color: #d3ff7b;
  }
  
  #share {
    background-color: #F0B2C1;
  }
  
  #realtime {
    background-color: #fff395;
  }
  
  #notifications {
    background-color: #ABD3DE;
  }
  
  #innovation-browser {
    background-color: #afffc3;
  }
  
  #innovation-teams {
    background-color: #ddb5ff;
  }
