<mat-nav-list>

    <a mat-list-item routerLink="/about" (click)="onClose()">
        <mat-icon>info_outline</mat-icon>
        <span class="nav-caption">About my AI OS</span>
    </a>
    <a mat-list-item routerLink="/project" (click)="onClose()" *ngIf="isAuth$ | async">
        <mat-icon>group_add</mat-icon>
        <span class="nav-caption">Projects</span>            
    </a>
    <a mat-list-item routerLink="/session" (click)="onClose()" *ngIf="isAuth$ | async">
        <mat-icon>code</mat-icon>
        <span class="nav-caption">Services</span>            
    </a>
    <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!(isAuth$ | async)">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!(isAuth$ | async)">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>            
    </a>
    <a mat-list-item routerLink="/venture" (click)="onClose()" *ngIf="isAuth$ | async">
        <mat-icon>group_add</mat-icon>
        <span class="nav-caption">Business</span>            
    </a>
    <a mat-list-item routerLink="/setup" (click)="onClose()">
        <mat-icon>settings</mat-icon>
        <span class="nav-caption">Setup</span>
    </a>
    <mat-list-item> 
        <button mat-icon-button (click)="onLogout()" *ngIf="isAuth$ | async">
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">Logout</span>  
        </button>
    </mat-list-item>
    <!--
    <a mat-list-item routerLink="/team" (click)="onClose()">
        <mat-icon>group_add</mat-icon>
        <span class="nav-caption">nTeams</span>
    </a>
    <a mat-list-item routerLink="/market" (click)="onClose()">
        <mat-icon>language</mat-icon>
        <span class="nav-caption">Jobs</span>
    </a>
    <a mat-list-item routerLink="/friend" (click)="onClose()">
        <mat-icon>group_add</mat-icon>
        <span class="nav-caption">Friends</span>
    </a>
    <a mat-list-item routerLink="/account" (click)="onClose()" *ngIf="isAuth$ | async">
        <mat-icon>attach_money</mat-icon>
        <span class="nav-caption">Accounts</span>            
    </a>
   <a mat-list-item routerLink="/skill" (click)="onClose()" *ngIf="isAuth$ | async">
        <mat-icon>group_add</mat-icon>
        <span class="nav-caption">nSkills</span>            
    </a> -->

</mat-nav-list>

<div>
    <ul class="nav-footer">
        <li>Join WEB's 1<sup>st</sup> AI OS Meetups</li>
        <li>
            <a href="https://www.meetup.com/SocialAI/">Toronto</a> - 
            <a href="https://www.meetup.com/Manhattan-AIR/">New York</a> - 
            <a href="https://www.meetup.com/HalifaxAIG/">Halifax</a>
        </li>
        <li class="nav-footer-small"><a href="https://github.com/W3AI/TeamHub">Clone DNA Engine 0.6 @ GitHub</a></li>
        <li>© Ianta Labs / MIT License</li>
    </ul>
</div>
