a {
    text-decoration: none;
    color: grey;
}

a:hover,
a:active {
    color: lightgray;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.nav-footer {
    position: fixed;
    bottom: 0px;
    list-style: none;
    padding-left: 15px;
    text-align: center;
}

li {
    padding: 6px;
}

.nav-footer-small {
    font-size: 75%;
}
