.market-card {
    max-width: 400px;
  }

  .market-view-content {
    text-align: center;
  }
  
  .market-header-image {
    background-image: url('https://teamhub.w3ai.net/assets/icons/icon_192.png');
    background-size: cover;
  }
