<mat-tab-group>

  <mat-tab label="World Class Teams"> 
    <mat-card class="market-card" fxLayout="column" fxLayoutAlign="center">
      <mat-card-header>
        <div mat-card-avatar class="market-header-image"></div>
        <mat-card-title>World Class Teams</mat-card-title>
        <mat-card-subtitle>Realtime Skills & Service Mart View</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="market-view-content">
        <p></p>
        <a href="https://w3ai.github.io/UGE/smart-office.html">
          <img mat-card-image src="https://teamhub.w3ai.net/assets/img/teamhub-realtime-skills-mart.png" alt="Realtime World Service Mart View">
        </a>
        <p>Filter here by your skills/services of interests:</p>
        <p>powered by Realtime Firestore Database</p>
      </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
  </mat-tab>

  <mat-tab label="Your N Teams">
    <mat-card class="market-card" fxLayout="column" fxLayoutAlign="center">
      <mat-card-header>
        <div mat-card-avatar class="market-header-image"></div>
        <mat-card-title>Your N Teams</mat-card-title>
        <mat-card-subtitle>Realtime Skills & Service Mart View</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="market-view-content">
        <p></p>
        <a href="https://w3ai.github.io/UGE/smart-office.html">
          <img mat-card-image src="https://teamhub.w3ai.net/assets/img/teamhub-realtime-skills-mart.png" alt="Realtime World Service Mart View">
        </a>
        <h3>You don't have any registered N Teams :-(</h3>
        <a routerLink="/login"><button mat-button>Sign In</button></a>
        <a routerLink="/signup"><button mat-button>Sign Up</button></a>
          <h3>Make Money & Friends 24/7</h3>
          <a routerLink="/signup">
            <img src="assets/img/icon_512.png" alt="Solve World's Problems" height="96" width="96">
          </a>
          <h3>with Agile Realtime services</h3>
          <p>powered by Realtime Firestore Database</p>

      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

</mat-tab-group>

