
<section class="add-venture">
  <form>
    <mat-card fxLayout="column">
      <mat-card-title>
        Add Venture 
      </mat-card-title>

      <mat-form-field>
        <input matInput placeholder="Venture name" name="name">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Change tags " name="tags">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Budget" name="budget">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="URI" name="uri">
      </mat-form-field>

      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="accent">Approve Spending</button>
      </mat-card-actions>

    </mat-card>
  </form>
</section>

<section class="add-venture-details">
  <form>
    <mat-card>

    <mat-grid-list cols="14" rowHeight="2:1">

        <mat-grid-tile class="header">A</mat-grid-tile>
        <mat-grid-tile class="header">B</mat-grid-tile>
        <mat-grid-tile class="header">C</mat-grid-tile>
        <mat-grid-tile class="header">D</mat-grid-tile>
        <mat-grid-tile class="header">E</mat-grid-tile>
        <mat-grid-tile class="header">F</mat-grid-tile>
        <mat-grid-tile class="header">G</mat-grid-tile>
        <mat-grid-tile class="header">H</mat-grid-tile>
        <mat-grid-tile class="header">I</mat-grid-tile>
        <mat-grid-tile class="header">J</mat-grid-tile>
        <mat-grid-tile class="header">K</mat-grid-tile>
        <mat-grid-tile class="header">L</mat-grid-tile>
        <mat-grid-tile class="header">M</mat-grid-tile>
        <mat-grid-tile class="header">N</mat-grid-tile>

<!-- Row # 1  of 14 cells  ---------------- --> 
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
<!-- Row #   of 14 cells  ---------------- --> 

<!-- Row # 2  of 14 cells  ---------------- --> 
<mat-grid-tile>2</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<!-- Row #   of 14 cells  ---------------- --> 

<!-- Row # 3  of 14 cells  ---------------- --> 
<mat-grid-tile>3</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<!-- Row #   of 14 cells  ---------------- --> 

<!-- Row # 4  of 14 cells  ---------------- --> 
<mat-grid-tile>4</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<!-- Row #   of 14 cells  ---------------- --> 

<!-- Row #   of 14 cells  ---------------- --> 
<mat-grid-tile>5</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<!-- Row #   of 14 cells  ---------------- --> 

<!-- Row #   of 14 cells  ---------------- --> 
<mat-grid-tile>6</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<!-- Row #   of 14 cells  ---------------- --> 

<!-- Row #   of 14 cells  ---------------- --> 
<mat-grid-tile>7</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<!-- Row #   of 14 cells  ---------------- --> 

<!-- Row #   of 14 cells  ---------------- --> 
<mat-grid-tile>8</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<!-- Row #   of 14 cells  ---------------- --> 

<!-- Row #   of 14 cells  ---------------- --> 
<mat-grid-tile>9</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<!-- Row #   of 14 cells  ---------------- --> 

<!-- Row #   of 14 cells  ---------------- --> 
<mat-grid-tile>10</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<!-- Row #   of 14 cells  ---------------- --> 

      </mat-grid-list>

      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="accent">Edit Venture</button>
      </mat-card-actions>

    </mat-card>
  </form>
</section>

<section class="new-venture" fxLayout="column" fxLayoutAlign="center">
  <form (ngSubmit)="onStartVenture(f)" #f="ngForm">
    <mat-card  fxFlex="100%">
      <mat-card-title fxLayoutAlign="center">Start venture activity:</mat-card-title>
      <mat-card-content fxLayoutAlign="center">

        <mat-form-field *ngIf="!(isLoading$ | async) && tests$ | async">
          <mat-select placeholder="Favorite tags" ngModel name="test" required>
            <mat-option *ngFor="let test of tests$ | async" [value]="test.id">
              {{ test.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions  *ngIf="!(isLoading$ | async)" fxLayoutAlign="center">
        <button *ngIf="tests$ | async" type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Approve Budget to Start</button>
        <button *ngIf="!(tests$ | async)" type="button" mat-stroked-button color="accent" (click)="fetchTests()">Fetch Tags Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
