<mat-toolbar color="primary">
    <div fxHide.gt-sm>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">Progressive Teams</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.sm>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">


            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/market">Service Market</a></li>

            <li *ngIf="isAuth$ | async"><a routerLink="/account">My Accounts</a></li>

            <li *ngIf="isAuth$ | async"><a routerLink="/project">Projects</a></li>
            <li *ngIf="isAuth$ | async"><a routerLink="/skill">Services</a></li>
            <li *ngIf="isAuth$ | async"><a routerLink="/venture">Ventures</a></li>

            <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
            
            <li *ngIf="isAuth$ | async">
                <a style="cursor: pointer" (click)="onLogout()">Logout</a>
            </li>
            
        </ul>
    </div>
</mat-toolbar>

