a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.title-version {
    font-size: smaller;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.w3ai-icon {
    background-image: url('/assets/img/icon_154.png');
    background-size: cover;
  }

.links {
    color: lightgray;
}


