<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">Global Team Players</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">

            <li *ngIf="isAuth$ | async"><a routerLink="/project">Problems</a></li>
            <li *ngIf="isAuth$ | async"><a routerLink="/skill">Services</a></li>
            <li *ngIf="isAuth$ | async"><a routerLink="/venture">Ventures</a></li>

            <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
            
            <li *ngIf="isAuth$ | async">
                <a style="cursor: pointer" (click)="onLogout()">Logout</a>
            </li>
            
        </ul>
    </div>
</mat-toolbar>

