<section class="signup-form">
  <div class="signup">
    <h3>Team Up to Build</h3>
      <img src="assets/img/icon_512.png" alt="Solve World's Problems" height="96" width="96">
    <h3>Your nTeams network</h3>
  </div>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="Your email" 
        ngModel 
        name="email"
        email
        required
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input 
        type="password" 
        matInput 
        placeholder="Your password" 
        ngModel 
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Maturity age required for innoVoting & auto patenting.">
      <input 
      matInput 
      placeholder="Your birthdate: mm/dd/yyyy" 
      [matDatepicker]="picker"
      [max]="maxDate" ngModel name="birthdate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="f.invalid" >Sign up</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
  <div class="signup">
      <h3>WEB INNOVATION TEAMS</h3>
      <h3>Online 24/7</h3>
      <H3>web nGenes</H3>
  </div>
  <div class="signup-footer">
      <p>Live nTeams PoC 0.4</p>
    <p>© Ianta Labs / MIT License</p>
  </div>
</section>
