<section class="new-skill" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartSkill(f)" #f="ngForm">
    <mat-card  fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Add or refresh Skill:</mat-card-title>
      <mat-card-content fxLayoutAlign="center">

        <mat-form-field *ngIf="!(isLoading$ | async) && activitys$ | async">
          <mat-select placeholder="Favorite tags" ngModel name="activity" required>
            <mat-option *ngFor="let activity of activitys$ | async" [value]="activity.id">
              {{ activity.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>

      <mat-card-actions  *ngIf="!(isLoading$ | async)" fxLayoutAlign="center">
        <button *ngIf="activitys$ | async" type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Approve Budget to Start</button>
        <button *ngIf="!(activitys$ | async)" type="button" mat-stroked-button color="accent" (click)="fetchactivitys()">Fetch Tags Again</button>
      </mat-card-actions>

    </mat-card>
  </form>
</section>
