<section class="setup">

  <h1>Setup Your Free AI Loop</h1>

  <div>
      <form class="form">

          <mat-form-field class="full-width">
            <input matInput placeholder="Set AI Loop Title" value="My AI Loop" name="aiName"
            [(ngModel)]="aiName">
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="Set AI Loop Cycle in miliseconds" value="1000" name="aiCycle"
              [(ngModel)]="cycle">
          </mat-form-field>
          <div fxLayout fx fxLayoutAlign="center center" fxLayoutGap="50px">
            <div>Cycle: {{ cycle }} ms</div><div>Loop: {{ loop % 1000 }}</div>
          </div>
          <button mat-raised-button color="primary" (click)="onSetCycle()">Set Cycle</button>

          <p> </p>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="My Interests:" value="eg: AI, Innovation, Coding, Web, Business"></textarea>
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="Set Location Lon Lat" value="[24.9667, 45.85]">
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="Set World Map zoom" value="1.2">
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="Cloud Email Account" value="myEmail@myBusiness.com">
          </mat-form-field>

        </form>
 
  </div>
  

</section>
