<section class="setup">

  <h1>Install Your AI OS</h1>

  <h3>On your device:</h3>
  <p>(coming soon)</p>

  <h3>On Google Cloud:</h3>
    <p>Copy and save the AI OS file below on your Google Suite Account:<br>(currently by invite only)<br>- Request an invite at W3AI meetups</p>
    <p><a href="https://docs.google.com/spreadsheets/d/1sUoyfAg0ogdyWvuqsLD22kp2aE4vkMQj4dHv424kTOI/edit?usp=sharing">My AI DemOS 0.7 pre-&alpha; install</a></p>
    <p>Done!</p>
    <p>Visit our Help page to learn your AI manual and scheduling commands.</p>

  <h1>Setup Your AI OS</h1>

  <div>
      <form class="form">

          <mat-form-field class="full-width">
            <input matInput placeholder="Set AI OS Title" value="my AI DemOS" name="aiName"
            [(ngModel)]="aiName">
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="Set AI Loop Cycle in miliseconds" value="1000" name="aiCycle"
              [(ngModel)]="interval">
          </mat-form-field>
          <div fxLayout fx fxLayoutAlign="center center" fxLayoutGap="50px">
            <div>Cycle: {{ interval }} ms</div><div>Loop: {{ newInterval % 1000 }}</div>
          </div>
          <button mat-raised-button color="primary" (click)="onSetCycle()">Set Cycle</button>

          <p> </p>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="My Interests:" value="eg: AI, Innovation, Coding, Web, Business"></textarea>
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="Set Location Lon Lat" value="[24.9667, 45.85]">
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="Set World Map zoom" value="1.2">
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="Cloud Email Account" value="myEmail@myBusiness.com">
          </mat-form-field>

        </form>
 
  </div>
  

</section>
