#OpenLayers {
    z-index: -1;
    position: absolute;
}

table {
    font-family: arial, sans-serif;
    font-size: x-small;
    border-collapse: collapse;
    width: 100%;
  }

.red-stat {
    border-radius: 50%;
    width: 20px;
    height: 5px; 
    background: red;
}

#link4 {
    border-style: solid;
    background-color:rgba(217, 190, 190, 0.5);
    border-width: 0px 0px 0px 0px;
}

.speed {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: x-small;
    margin: 0px;
    padding: 0px;
}

.cycle-button {
    font-family: arial, sans-serif;
    font-size: x-small;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color:rgba(217, 190, 190, 0.5);
    border-radius: 8px;
}

.auth-button {
    font-family: arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #fff;
    margin-bottom: 8px;
    padding: 0px;
    border: 0px;
    background-color:rgba(155, 201, 215, 1);
    border-radius: 8px;
}

.world-brain {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    /*
    width: 100%;
    height: 200px;
    background-image: url('/assets/img/3AI-World.png');
    background-repeat: no-repeat;
    background-position: center;
    */
}

p {
    margin: 0px;
    padding: 0px;
}

.quote {
    text-align: center; 
    color: #8c828c;
    font-size: 60%;
    margin: 0px;
    padding: 0px;
}

#main-title {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.header {
    margin: 0px;
    padding: 0px;
}

.side-title {
    color: #8c828c;
    font-size: 60%;
}

#left {
    color: #8c828c;
    text-align: left;
    font-size: 60%;
    margin-left: 20px;
}

#right {
    color: #8c828c;
    text-align: right;
    font-size: 60%;
    margin-right: 20px;
}

#south-globe {
    text-align: center;
}

.welcome {
    text-align: center;
    padding: 0;
    margin: 0;
}

a {    
    text-decoration: none; /* no underline */
    color: grey;
  }

.footer {
    list-style: none;
    padding: 10px;
    text-align: center;
}

li {
    padding: 5px;
}

.lang {
    color: #8c828c;
    font-size: 60%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
