<section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">

    <div id="OpenLayers" class="top">
        <app-map></app-map>
      </div>

  <section class="world-brain" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
    <div class="quote">
      <p><q>We are all now connected by the Internet, like Neurons in a Giant Brain.</q><br>
      <i>Stephen Hawking</i></p>
    </div>

<table id="loop">
  <tr>
    <td style="width:3px"></td><td style="width:7px"></td><td style="width:105px"></td><td style="width:20px"></td><td style="width:10px"></td><td style="width:85px"></td><td style="width:10px"></td><td style="width:20px"></td><td style="width:105px"></td><td style="width:7px"></td><td style="width:3px"></td>
  </tr>
  <tr>
    <td></td><td></td><td><b>Free AI PMO</b></td><td></td><td></td><td><b>Free AI HR</b></td><td></td><td></td><td><b>Free AI COE</b></td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td>Projects {{ nrProblems }} </td><td></td><td>#</td><td>My Interests</td><td>#</td><td></td><td>Services {{nrServices}}</td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat1()}"></td><td>{{nProject1 | slice:0:11}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag1()}"></td><td>{{pT1}}</td><td>{{link1 | slice:0:8}}</td><td>{{sT1}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag1()}"></td><td>{{nService1 | slice:0:11}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat1()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat2()}"></td><td>{{nProject2 | slice:0:11}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag2()}"></td><td>{{pT2}}</td><td>{{link2 | slice:0:8}}</td><td>{{sT2}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag2()}"></td><td>{{nService2 | slice:0:11}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat2()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat3()}"></td><td>{{nProject3 | slice:0:11}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag3()}"></td><td>{{pT3}}</td><td>{{link3 | slice:0:8}}</td><td>{{sT3}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag3()}"></td><td>{{nService3 | slice:0:11}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat3()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat4()}"></td><td>{{nProject4 | slice:0:11}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag4()}"></td><td>{{pT4}}</td><td id="link4">{{link4 | slice:0:8}}</td><td>{{sT4}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag4()}"></td><td>{{nService4 | slice:0:11}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat4()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat5()}"></td><td>{{nProject5 | slice:0:11}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag5()}"></td><td>{{pT5}}</td><td>{{link5 | slice:0:8}}</td><td>{{sT5}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag5()}"></td><td>{{nService5 | slice:0:11}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat5()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat6()}"></td><td>{{nProject6 | slice:0:11}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag6()}"></td><td>{{pT6}}</td><td>{{link6 | slice:0:8}}</td><td>{{sT6}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag6()}"></td><td>{{nService6 | slice:0:11}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat6()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat7()}"></td><td>{{nProject7 | slice:0:11}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag7()}"></td><td>{{pT7}}</td><td>{{link7 | slice:0:8}}</td><td>{{sT7}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag7()}"></td><td>{{nService7 | slice:0:11}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat7()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td><b>BID Σ: </b>{{this.tag[(i+2)%this.nrLinks][3]}}</td><td></td><td></td><td [ngStyle]="{color: getDeltaColor()}"><b>MΔ: {{ this.tag[(i+2)%this.nrLinks][5] }}</b></td><td></td><td></td><td><b>ASK Σ: </b>{{this.tag[(i+2)%this.nrLinks][4]}}</td><td></td><td></td>
  </tr>
  <tr>
    <td class="wall-1-projects" colspan="3">wall 1: service demand</td><td></td><td (click)="onPrev()" ><b><</b></td><td class="wall-3-market">wall 2: market loop</td><td (click)="onNext()" ><b>></b></td><td></td><td class="wall-2-services" colspan="3">wall 3: service offer</td>
  </tr>
</table>
</section>

<section class="speed">
  <h5>Chose your Innovation Engine:</h5>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div><button class="cycle-button" mat-button (click)="onSetCycle(3000)">MANUAL</button></div>
      <div>control</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div><button class="AUTO-button" mat-button (click)="onSetCycle(100)"><b>AUTOMATIC</b></button></div>
      <div>speed</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div><button class="W3AI-button" mat-button (click)="onSetCycle(10)"><b>3AI ENGINE</b></button></div>
      <div>control & speed</div>
    </div>

  </div>
</section>

<h1 id="main-title">HELLO WORLD!</h1>

<div class="header" fxLayout="row" fxLayoutAlign="center center">

  <div id="left" fxFlex="25%">
    <p>
      <br><span class="side-title">Business Neural Nets</span><br>
      nLinks<sup>2</sup>: {{ superFriendsNo }}<br>
      nProjects: {{ superProjectsNo }}<br>
      nSkills: {{ superServicesNo }}<br>
      nTasks/ms: {{ superTxPerMs }}<br>
      $/min: {{ superRatePerMin | currency }}<br>
      <span class="side-title">Live Internet Brain</span><br>
    </p>
  </div>

  <div id="center" fxFlex="50%">
    <div class="welcome">
      <a *ngIf="isAuth$ | async; else Project" routerLink="/signup">
        <img src="assets/img/icon_512.png" alt="Solve World's Problems" height="96" width="96">
      </a>
      <ng-template #Project>
        <a id="project" routerLink="/project">
          <img src="assets/img/icon_512.png" alt="Solve World's Problems" height="96" width="96">
        </a>
      </ng-template>
    </div>
  </div>

  <div id="right" fxFlex="25%">
    <div fxLayout fxLayoutAlign="end end">
      <p>
        <br><span class="side-title">Office Teams</span><br>
        friends<sup>2</sup>: {{ officeFriendsNo }}<br>
        projects: {{ officeProjectsNo }}<br>
        skills: {{ officeServicesNo }}<br>
        tasks/ms: {{ officeTxPerMs }}<br>
        $/min: {{ officeRatePerMin | currency }}<br>
        <span class="side-title">Live Office Networks</span><br>
      </p>
    </div>
  </div>
</div>
</section>
<section>
  <div id="south-globe">

    <div>
      <h3 class="free-AI">I'm your Free AI INNOVATION OS</h3>
      <h3 class="free-AI">Use me 24/7 on HIGH SPEED for</h3>
    </div>

    <h1>MAXIMUM PRODUCTIVITY</h1>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
      <a routerLink="/login"><button class="auth-button" mat-button>Sign In</button></a>
      <a routerLink="/signup"><button class="auth-button" mat-button>Sign Up</button></a>
    </div>
  </div>
</section>

<section class="mid" fxLayout="column" fxLayoutAlign="center center">
  <section class="clone" fxLayout="row" fxLayoutGap="40px">
    <div class="open-source" fxLayout="column" fxLayoutAlign="center end">
      <p><b>FREE W3AI.ORG</b></p>
      <p><b><a href="https://w3ai.org">The Internet Brain</a></b></p>
      <p>EDU, ORG</p>
    </div>
    <div class="enterprise" fxLayout="column" fxLayoutAlign="center ">
      <p><b>OPEN W3AI.NET</b></p>
      <p><b><a href="https://w3ai.net">World Class Teams</a></b></p>
      <p>GOV, COM</p>
    </div>
  </section>
  <h1>WORLD'S &nbsp; 3 AI &nbsp; ENGINES</h1>
  <a href="https://www.meetup.com/SocialAI/">
    <img src="assets/img/3AI-Web-Cortex.png" title="Join our W3AI Meetups in Toronto, NYC, Halifax to learn more.">
  </a>
<!--
  <section class="brain" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">
    <div class="left-brain">
        <img src="assets/img/left-brain.png" alt="Left nCortex" height="100" width="122">
    </div>
    <div class="3AI" fxLayout="column" fxLayoutAlign="center center">
        <p><b>A</b>lgorithmic <b>I</b>nnovators</p>
        <p>~</p>
        <p><b>A</b>gile <b>I</b>ntegrators</p>
        <p>~</p>
        <p><b>A</b>nonymous <b>I</b>nvestors</p>
    </div>
    <div class="right-brain">
        <img src="assets/img/right-brain.png" alt="Right nCortex" height="100" width="122">
    </div>
  </section>
-->
  <h1>LIVE&nbsp; INNOVATION &nbsp;ALGORITHM</h1>
</section>

<div class="welcome" fxLayout="row" fxLayoutGap="10px"  fxLayoutGap.gt-xs="30px" fxLayoutAlign="center center">
  <section>
    <h3>INNOVATE</h3>
        <a routerLink="/project"><button mat-button>Add Projects</button></a>
  </section>
  <section>
    <h3>PROGRESS</h3>
    <a routerLink="/skill"><button mat-button>Add nGenes</button></a>
  </section>
  <section>
    <h3>VENTURE</h3>
    <a routerLink="/venture"><button mat-button>Add Teams</button></a>
  </section>
</div>

<div class="welcome">
  <section>
      <h1>1st DNA ENGINE<br>for Web's Neocortex</h1>
      <h1>Online 24/7</h1>
    <h3>Connections & Results in Seconds</h3>
  </section>
</div>

<div class="welcome" fxLayout="column" fxLayout.gt-md="row"  fxLayoutGap.gt-md="30px" fxLayoutAlign="center center">
  <section>
    <h3>How It Works</h3>
    <p>1. Add your Projects & Ideas Scripts.</p>
    <p>2. Add your Skills & nGene Scripts.</p>
    <p>3. Team up to find the best n Solutions.</p>
  </section>
  <section>
      <h3>Available</h3>
      <p>Worldwide 24/7.</p>
      <p>Online and Offline.</p>
      <p>In the cloud and on all web devices.</p>
    </section>
  <section>
    <h3>What You Need</h3>
    <p>Cloud email: Signup with Gmail or Outlook</p>
    <p>Cloud office: Google Sheets or Microsoft Excel</p>
    <p>Basic to intermediate office spreadsheet skills.</p>
  </section>
</div>

<div class="welcome">
  <h1>Web's Neocortex</h1>
  <p>Distributed Social Network Open 24/7</p>
  <p>3 Types of Posts in web's DNA format:</p>
  <p>Projects, Service nGenes & Teams</p>
  <p>Build & share Projects, Skills & Teams</p>
  <p>with all service providers and consumers</p>
  <p>Continuous transformation of Projects in nGenes</p>
  <p>Core DNA Algo cloned on your browser loop</p>
  <p>for online and offline operation 24/7</p>
  <p>Maximize use of your cloud & devices</p>
</div>

<div class="meetups" fxLayout="column" fxLayoutAlign="center center">
    <h3>Learn more at our W3AI Meetups</h3> 
    <a href="https://www.meetup.com/SocialAI/">
      <img src="assets/img/3AI-nCortex.png" title="Join W3AI Meetups in Toronto, NYC, Halifax..." width="480px" height="270px">
    </a>
    <ul class="footer">
        <li>
            <a href="https://www.meetup.com/SocialAI/">Toronto</a> - 
            <a href="https://www.meetup.com/Manhattan-AIR/">New York</a> - 
            <a href="https://www.meetup.com/HalifaxAIG/">Halifax</a>
        </li> 
    </ul>
</div>
<div class="welcome">
    <h3>Powered by your DNA<br>Gene Activation Algorithm<br>used by all live cells on Earth</h3>
</div>

  <ul class="footer">
    <li><a href="https://github.com/W3AI/TeamHub">Clone DNA Engine @ GitHub</a></li>
    <li>Live DNA Engine PoC 0.5</li>
    <li>© Ianta Labs / MIT License</li>  
</ul>
