<section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">

    <div id="OpenLayers" class="top">
        <app-map></app-map>
      </div>

  <section class="world-brain" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
    <div class="quote">
      <p><q>We are all now connected by the Internet, like Neurons in a Giant Brain.</q><br>
      <i>Stephen Hawking</i></p>
    </div>

<table id="loop">
  <tr>
    <td style="width:3px"></td><td style="width:7px"></td><td style="width:105px"></td><td style="width:20px"></td><td style="width:10px"></td><td style="width:85px"></td><td style="width:10px"></td><td style="width:20px"></td><td style="width:105px"></td><td style="width:7px"></td><td style="width:3px"></td>
  </tr>
  <tr>
    <td></td><td></td><td><b>&nbsp;Demos Projects&nbsp;</b></td><td></td><td></td><td><b>&nbsp;&nbsp;my AI TODO&nbsp;&nbsp;</b></td><td></td><td></td><td><b>&nbsp;Demos Services&nbsp;</b></td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td>Tasks {{ nrProblems }} </td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>#</td><td>My Interests</td><td>#</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Services {{nrServices}}</td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat1()}"></td><td>{{nProject1 | slice:0:10}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag1()}"></td><td>{{pT1}}</td><td>{{link1 | slice:0:8}}</td><td>{{sT1}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag1()}"></td><td>{{nService1 | slice:0:10}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat1()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat2()}"></td><td>{{nProject2 | slice:0:10}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag2()}"></td><td>{{pT2}}</td><td>{{link2 | slice:0:8}}</td><td>{{sT2}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag2()}"></td><td>{{nService2 | slice:0:10}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat2()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat3()}"></td><td>{{nProject3 | slice:0:10}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag3()}"></td><td>{{pT3}}</td><td>{{link3 | slice:0:8}}</td><td>{{sT3}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag3()}"></td><td>{{nService3 | slice:0:10}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat3()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat4()}"></td><td>{{nProject4 | slice:0:10}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag4()}"></td><td>{{pT4}}</td><td id="link4">{{link4 | slice:0:8}}</td><td>{{sT4}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag4()}"></td><td>{{nService4 | slice:0:10}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat4()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat5()}"></td><td>{{nProject5 | slice:0:10}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag5()}"></td><td>{{pT5}}</td><td>{{link5 | slice:0:8}}</td><td>{{sT5}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag5()}"></td><td>{{nService5 | slice:0:10}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat5()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat6()}"></td><td>{{nProject6 | slice:0:10}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag6()}"></td><td>{{pT6}}</td><td>{{link6 | slice:0:8}}</td><td>{{sT6}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag6()}"></td><td>{{nService6 | slice:0:10}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat6()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td [ngStyle]="{'background-size': '100% 100%','background-image': getPrjStat7()}"></td><td>{{nProject7 | slice:0:10}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getPrjFlag7()}"></td><td>{{pT7}}</td><td>{{link7 | slice:0:8}}</td><td>{{sT7}}</td><td [ngStyle]="{'background-size':'100% 100%','background-image': getSrvFlag7()}"></td><td>{{nService7 | slice:0:10}}</td><td [ngStyle]="{'background-size': '100% 100%','background-image': getSrvStat7()}"></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td class="wall-1-projects"><b>BID Σ: </b>{{this.tag[(i+2)%this.nrLinks][3]}}</td><td></td><td></td><td class="wall-3-market" [ngStyle]="{color: getDeltaColor()}"><b>MΔ: {{ this.tag[(i+2)%this.nrLinks][5] }}</b></td><td></td><td></td><td class="wall-2-services"><b>ASK Σ: </b>{{this.tag[(i+2)%this.nrLinks][4]}}</td><td></td><td></td>
  </tr>
  <tr>
    <td class="wall-1-projects" colspan="3">wall 1: service demand</td><td></td><td (click)="onPrev()"><b><</b></td><td class="wall-3-market">wall 2: market loop</td><td (click)="onNext()"><b>></b></td><td></td><td class="wall-2-services" colspan="3">wall 3: service offer</td>
  </tr>
</table>
</section>

<section class="speed">
  <h4>Set your Democracy:</h4>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div><button class="cycle-button" mat-button (click)="onSetManual(1000)" [ngStyle]="{color: getStatusButtonManual()}"><b>Setup</b></button></div>
      <div>control</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div><button class="AUTO-button" mat-button (click)="onSetMarathon(100)" [ngStyle]="{color: getStatusButtonMarathon()}"><b>Endurance</b></button></div>
      <div>control & speed</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div><button class="W3AI-button" mat-button (click)="onSetCompete(10)"  [ngStyle]="{color: getStatusButtonHackathon()}"><b>Sprint</b></button></div>
      <div>speed</div>
    </div>

  </div>
</section>

<div id="manual" *ngIf="manual; else helloWorld">

<table id="fbView">
  <tr>
    <td style="width:3px"></td><td style="width:7px"></td><td style="width:45px"><u>nProject</u></td><td style="width:45px"></td><td colspan="4" style="width:180px; text-align:center;"><b>Neo DNA Processor</b></td><td style="width:45px"></td><td style="width:40px">nService</td><td style="width:7px"></td><td style="width:3px"></td>
  </tr>
  <tr>
    <td></td><td>1</td><td><b>Title</b></td><td colspan="5">{{this.queue[this.row][3] | slice:0:36}}</td><td style="text-align:right;"> {{shares}} &nbsp;</td><td><b>Shares</b></td><td>24</td><td></td>
  </tr>
  <tr>
    <td></td><td>2</td><td><b>Country</b></td><td colspan="3">{{this.queue[this.row][4]}}</td><td colspan="3" style="text-align:right;">$ {{this.queue[this.row][8]}} &nbsp;</td><td><b>Budget</b></td><td>25</td><td></td>
  </tr>
  <tr>
    <td></td><td>3</td><td>email</td><td colspan="3"></td><td colspan="3"></td><td>providers</td><td>26</td><td></td>
  </tr>
  <tr>
    <td></td><td>4</td><td>name</td><td colspan="3"></td><td colspan="3"></td><td>tests</td><td>27</td><td></td>
  </tr>
  <tr>
    <td></td><td>5</td><td>status</td><td colspan="3">{{this.queue[this.row][7]}}</td><td colspan="3"></td><td>passed</td><td>28</td><td></td>
  </tr>
  <tr>
    <td></td><td>6</td><td>bid/ask</td><td colspan="3"></td><td colspan="3"></td><td>steps</td><td>29</td><td></td>
  </tr>
  <tr>
    <td></td><td>7</td><td>currency</td><td colspan="3"></td><td colspan="3"></td><td>branches</td><td>30</td><td></td>
  </tr>
  <tr>
    <td></td><td>8</td><td>timeframe</td><td colspan="3"></td><td colspan="3"></td><td>#ToDo</td><td>31</td><td></td>
  </tr>
  <tr>
    <td></td><td>9</td><td>description</td><td colspan="5"></td><td></td><td>#Done</td><td>32</td><td></td>
  </tr>
  <tr>
    <td></td><td>10</td><td>cloud ID</td><td colspan="3"></td><td colspan="3"></td><td>contexts</td><td>33</td><td></td>
  </tr>
  <tr>
    <td></td><td>11</td><td>tags</td><td colspan="3"></td><td colspan="3"></td><td>errors</td><td>34</td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td><b>nGene</b></td><td colspan="2" style="text-align:center;"><b>Input</b></td><td colspan="2" style="text-align:center;"><b>Solution</b></td><td colspan="2" style="text-align:center;"><b>Output</b></td><td colspan="2"><b>T & C</b></td><td></td>
  </tr>
  <tr>
    <td></td><td>12</td><td>text</td><td colspan="2"></td><td colspan="2"></td><td colspan="2"></td><td colspan="2"></td><td></td>
  </tr>
  <tr>
    <td></td><td>13</td><td>DNA</td><td colspan="2"></td><td colspan="2"></td><td colspan="2"></td><td colspan="2"></td><td></td>
  </tr>
  <tr>
    <td></td><td>14</td><td>FB/FS</td><td colspan="2"></td><td colspan="2"></td><td colspan="2"></td><td colspan="2"></td><td></td>
  </tr>

</table>

</div>

<ng-template #helloWorld>
  <div id="hello-world">

    <h1 id="main-title">HELLO WORLD!</h1>

    <div class="header" fxLayout="row" fxLayoutAlign="center center">

      <div id="left" fxFlex="25%">
        <p>
          <br><span class="side-title">Business Neural Nets</span><br>
          nLinks<sup>2</sup>: {{ superFriendsNo }}<br>
          nProjects: {{ superProjectsNo }}<br>
          nSkills: {{ superServicesNo }}<br>
          nTasks/ms: {{ superTxPerMs }}<br>
          $/min: {{ superRatePerMin | currency }}<br>
          <span class="side-title">Live Internet Brain</span><br>
        </p>
      </div>

      <div id="center" fxFlex="50%">
        <div class="welcome">
          <a *ngIf="!(isAuth$ | async); else Project" routerLink="/signup">
            <img src="assets/img/icon_512.png" alt="Solve World's Problems" height="96" width="96">
          </a>
          <ng-template #Project>
            <a id="project" routerLink="/project">
              <img src="assets/img/icon_512.png" alt="Solve World's Problems" height="96" width="96">
            </a>
          </ng-template>
        </div>
      </div>

      <div id="right" fxFlex="25%">
        <div fxLayout fxLayoutAlign="end end">
          <p>
            <br><span class="side-title">Office Teams</span><br>
            friends<sup>2</sup>: {{ officeFriendsNo }}<br>
            projects: {{ officeProjectsNo }}<br>
            skills: {{ officeServicesNo }}<br>
            tasks/ms: {{ officeTxPerMs }}<br>
            $/min: {{ officeRatePerMin | currency }}<br>
            <span class="side-title">Live Office Networks</span><br>
          </p>
        </div>
      </div>
    </div>

    <div class="free-ai">
      <h3>I'm your AI Democracy OS</h3>
      <h3>- DECENTRALIZED -</h3>
    </div>

  </div>
</ng-template>

</section>

<section>
  <div id="south-globe">

    <h3 id="under-blue">Set your Democracy on {{aiSetup}}</h3>
    <h5>for</h5>
    <h1 id="goal">{{goal}}</h1>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
      <a routerLink="/login"><button class="auth-button" mat-button>Sign In</button></a>
      <a routerLink="/signup"><button class="auth-button" mat-button>Sign Up</button></a>
    </div>
  </div>
</section>

<section class="mid" fxLayout="column" fxLayoutAlign="center center">
  <section class="clone" fxLayout="row" fxLayoutGap="40px">
    <div class="open-source" fxLayout="column" fxLayoutAlign="center end">
      <p><b>FREE W3AI.ORG</b></p>
      <p><b><a href="https://w3ai.org">The Internet Brain</a></b></p>
      <p>EDU, ORG</p>
    </div>
    <div class="enterprise" fxLayout="column" fxLayoutAlign="center ">
      <p><b>OPEN W3AI.NET</b></p>
      <p><b><a href="https://w3ai.net">World Class Teams</a></b></p>
      <p>GOV, COM</p>
    </div>
  </section>
  <h1>WORLD'S &nbsp; 3 AI &nbsp; ENGINES</h1>
  <a href="https://www.meetup.com/SocialAI/">
    <img src="assets/img/3AI-Web-Cortex.png" title="Join our W3AI Meetups in Toronto, NYC, Halifax to learn more.">
  </a>
<!--
  <section class="brain" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">
    <div class="left-brain">
        <img src="assets/img/left-brain.png" alt="Left nCortex" height="100" width="122">
    </div>
    <div class="3AI" fxLayout="column" fxLayoutAlign="center center">
        <p><b>A</b>lgorithmic <b>I</b>nnovators</p>
        <p>~</p>
        <p><b>A</b>gile <b>I</b>ntegrators</p>
        <p>~</p>
        <p><b>A</b>nonymous <b>I</b>nvestors</p>
    </div>
    <div class="right-brain">
        <img src="assets/img/right-brain.png" alt="Right nCortex" height="100" width="122">
    </div>
  </section>
-->
  <h1>LIVE&nbsp; INNOVATION &nbsp;ALGORITHM</h1>
</section>

<div class="welcome" fxLayout="row" fxLayoutGap="10px"  fxLayoutGap.gt-xs="30px" fxLayoutAlign="center center">
  <section>
    <h3>INNOVATE</h3>
        <a routerLink="/project"><button mat-button>Add Projects</button></a>
  </section>
  <section>
    <h3>PROGRESS</h3>
    <a routerLink="/skill"><button mat-button>Add nGenes</button></a>
  </section>
  <section>
    <h3>VENTURE</h3>
    <a routerLink="/venture"><button mat-button>Add Teams</button></a>
  </section>
</div>

<div class="welcome">
  <section>
      <h1>Work on 1000s of Projects</h1>
      <h1>on your interests</h1>
      <h1>Work with 1000s Employers</h1>
      <h1>Worldwide</h1>
      <h1>Online 24/7</h1>
    <h3>Connections & Results in Seconds</h3>
  </section>
</div>

<div class="welcome" fxLayout="column" fxLayout.gt-md="row"  fxLayoutGap.gt-md="30px" fxLayoutAlign="center center">
  <section>
    <h3>How It Works</h3>
    <p>1. Set Projects & Tasks for your AI ToDo loop.</p>
    <p>2. Set Skills & Services for your AI ToDo loop.</p>
    <p>3. Set AI ToDo Teams to find the best Solutions.</p>
  </section>
  <section>
      <h3>Available</h3>
      <p>Worldwide 24/7.</p>
      <p>Online and Offline.</p>
      <p>In the cloud and on all web devices.</p>
    </section>
  <section>
    <h3>What You Need</h3>
    <p>Cloud email: Signup with Gmail or Outlook (soon)</p>
    <p>Cloud office: Google Sheets or MS Excel (soon)</p>
    <p>Basic to intermediate office spreadsheet skills.</p>
  </section>
</div>

<div class="welcome">
  <h1>Web's Neocortex</h1>
  <p>Distributed Social-AI Network Open 24/7</p>
  <p>3 Types of Posts in AI To Do format:</p>
  <p>AI Projects, AI Services & AI Teams</p>
  <p>Build & share Projects, Skills & Teams</p>
  <p>with all service providers and consumers</p>
  <p>Continuous transformation of Projects in Services</p>
  <p>Core DNA Algo cloned on your browser loop</p>
  <p>for online and offline operation 24/7</p>
  <p>Maximize use of your cloud & devices</p>
</div>

<div class="meetups" fxLayout="column" fxLayoutAlign="center center">
    <h3>Learn more at our W3AI Meetups</h3> 
    <a href="https://www.meetup.com/SocialAI/">
      <img src="assets/img/3AI-nCortex.png" title="Join W3AI Meetups in Toronto, NYC, Halifax..." width="480px" height="270px">
    </a>
    <ul class="footer">
        <li>
            <a href="https://www.meetup.com/SocialAI/">Toronto</a> - 
            <a href="https://www.meetup.com/Manhattan-AIR/">New York</a> - 
            <a href="https://www.meetup.com/HalifaxAIG/">Halifax</a>
        </li> 
    </ul>
</div>
<div class="welcome">
    <h3>Powered by your DNA<br>Gene Activation Algorithm<br>used by all live cells on Earth</h3>

    <h1 id="thankyou-title">- Thank Yous -</h1>
    <p>Google - for Firebase / Firestore</p>
    <p>Angular Community</p>
    <p>Github Community</p>
    <p>Microsoft - for Azure hosting</p>
    <p>IBM - Cloud hosting</p>
    <p>Neo4j Community</p>
    <p>PayTM - Meetups hosting Toronto</p>
    <p>Thomson-Reuters - Meetup hosting</p>
    <p>HBC - Meetups hosting Toronto & NYC</p>
    <p>Dalhausie - Meetups hosting Halifax</p>
    <p>Toronto TCP1P Meetup Innovators</p>
    <p>New York Manhattan AIR Innovators</p>
    <p>Halifax AIG Innovators</p>
    <p>and</p>
    <p>thosands supporters, advisers & testers</p>
    <p>-</p>
    <h3 id="thankyou-title">inspired by the work of</h3>
    <p>Stephen Hawking</p>
    <p>Noam Chomsky</p>
    <p>Marvin Minsky</p>
    <p>Larry Page</p>
    <p>Alan Turing</p>
    <p>Alonzo Church</p>
    <p>Leonid Hurwicz</p>
    <p>Stephen Wolfram</p>
    <p>Satoshi Nakamoto</p>
    <p>Alfred North Whitehead</p>
    <p>-</p>
</div>

  <ul class="footer">
    <li><a href="https://github.com/W3AI/TeamHub">Clone your DNA Engine @ GitHub</a></li>
    <li>Live DNA Engine 0.6</li>
    <li>© Ianta Labs / MIT License</li>  
</ul>
