.welcome {
    text-align: center;
}

#left {
    color: lightgray;
    text-align: left;
    font-size: 100%;
    margin-left: 20px;
}

#right {
    color: lightgrey;
    text-align: right;
    font-size: 100%;
    margin-right: 20px;
}

a {    
    text-decoration: none; /* no underline */
    color: grey;
  }

.footer {
    list-style: none;
    padding: 10px;
    text-align: center;
}

li {
    padding: 5px;
}
