<section class="add-project-form">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="text" matInput ngModel name="name" placeholder="Project Name" value="demo: Self-replicating Business Platform">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput ngModel name="description" placeholder="Brief description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput ngModel name="tags" placeholder="Change tags">
    </mat-form-field>

    <mat-form-field>
      <input type="url" matInput ngModel name="url" placeholder="URL of your project">
    </mat-form-field>
<!--
    <mat-form-field>
      <input type="radio" matInput name="privacy" value="public" checked>
      <input type="radio" matInput name="privacy" value="private">
      <input type="radio" matInput name="privacy" value="family">
      <input type="radio" matInput name="privacy" value="friends">
      <input type="radio" matInput name="privacy" value="business">
    </mat-form-field>
  -->
  <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
