<section class="add-project-form">
  <form>
    <mat-form-field>
      <input type="text" matInput placeholder="Project Title" value="e.g.: Share Innovation Juice">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Brief description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Change tags">
    </mat-form-field>

    <mat-form-field>
      <input type="url" matInput placeholder="URL of your project">
    </mat-form-field>
<!--
    <mat-form-field>
      <input type="radio" matInput name="privacy" value="public" checked>
      <input type="radio" matInput name="privacy" value="private">
      <input type="radio" matInput name="privacy" value="family">
      <input type="radio" matInput name="privacy" value="friends">
      <input type="radio" matInput name="privacy" value="business">
    </mat-form-field>
  -->
  </form>
</section>
